
.icon-rss:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-align-justify:before { content: '\e802'; } /* '' */
.icon-folder-open:before { content: '\e803'; } /* '' */
.icon-right-big:before { content: '\e804'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */